@font-face {
    font-family: "moraba";
    src: url("./lib/fonts/Morabba/woff2/Morabba-Medium.woff2");
    /* IE9 Compat Modes */
}

@font-face {
    font-family: "dana";
    src: url("./lib/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
    /* IE9 Compat Modes */
}

@font-face {
    font-family: "dana-blod";
    src: url("./lib/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2");
    /* IE9 Compat Modes */
}

body {
    font-family: "dana";
    overflow-x: hidden;
}

.moraba {
    font-family: "moraba" !important;
}

.dana-blod {
    font-family: "dana-blod" !important;
}

.dana {
    font-family: "dana" !important;
}

.img__contact {
    filter: brightness(56%)
}

button,
[role='combobox'] {
    direction: rtl;
}

